[submodule "site-lisp/extensions/cache-path-from-shell"]
	path = site-lisp/extensions/cache-path-from-shell
	url = https://github.com/manateelazycat/cache-path-from-shell.git
[submodule "site-lisp/extensions/lazy-load"]
	path = site-lisp/extensions/lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "site-lisp/extensions/posframe"]
	path = site-lisp/extensions/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "site-lisp/extensions/one-key"]
	path = site-lisp/extensions/one-key
	url = https://github.com/manateelazycat/one-key.git
[submodule "site-lisp/extensions/watch-other-window"]
	path = site-lisp/extensions/watch-other-window
	url = https://github.com/manateelazycat/watch-other-window.git
[submodule "site-lisp/extensions/expand-region"]
	path = site-lisp/extensions/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "site-lisp/extensions/editorconfig-emacs"]
	path = site-lisp/extensions/editorconfig-emacs
	url = https://github.com/editorconfig/editorconfig-emacs.git
[submodule "site-lisp/extensions/s"]
	path = site-lisp/extensions/s
	url = https://github.com/magnars/s.el.git
[submodule "site-lisp/extensions/dash"]
	path = site-lisp/extensions/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/extensions/popweb"]
	path = site-lisp/extensions/popweb
	url = https://github.com/manateelazycat/popweb.git
[submodule "site-lisp/extensions/markdown-mode"]
	path = site-lisp/extensions/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "site-lisp/extensions/magit"]
	path = site-lisp/extensions/magit
	url = https://github.com/magit/magit
[submodule "site-lisp/extensions/transient"]
	path = site-lisp/extensions/transient
	url = https://github.com/magit/transient.git
[submodule "site-lisp/site-lisp/extensions/compat.el"]
	path = site-lisp/site-lisp/extensions/compat.el
	url = https://github.com/phikal/compat.el.git
[submodule "site-lisp/extensions/compat.el"]
	path = site-lisp/extensions/compat.el
	url = https://github.com/phikal/compat.el.git
[submodule "site-lisp/extensions/with-editor"]
	path = site-lisp/extensions/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "sdcv"]
	path = site-lisp/extensions/sdcv
	url = https://github.com/manateelazycat/sdcv.git
[submodule "themes"]
	path = site-lisp/extensions/themes
	url = https://github.com/doomemacs/themes.git
[submodule "site-lisp/extensions/highlight-parentheses.el"]
	path = site-lisp/extensions/highlight-parentheses.el
	url = https://github.com/tsdh/highlight-parentheses.el
[submodule "site-lisp/extensions/exec-path-from-shell"]
	path = site-lisp/extensions/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule "site-lisp/extensions/yasnippet"]
	path = site-lisp/extensions/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "site-lisp/extensions/lsp-bridge"]
	path = site-lisp/extensions/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge
[submodule "site-lisp/extensions/typescript"]
	path = site-lisp/extensions/typescript
	url = https://github.com/emacs-typescript/typescript.el
[submodule "site-lisp/extensions/dumb-jump"]
	path = site-lisp/extensions/dumb-jump
	url = https://github.com/jacktasia/dumb-jump.git
[submodule "site-lisp/extensions/popup-el"]
	path = site-lisp/extensions/popup-el
	url = https://github.com/auto-complete/popup-el
[submodule "site-lisp/extensions/insert-translated-name"]
	path = site-lisp/extensions/insert-translated-name
	url = https://github.com/manateelazycat/insert-translated-name
[submodule "site-lisp/extensions/elisp-demos"]
	path = site-lisp/extensions/elisp-demos
	url = https://github.com/xuchunyang/elisp-demos
[submodule "site-lisp/extensions/deno-bridge"]
	path = site-lisp/extensions/deno-bridge
	url = https://github.com/manateelazycat/deno-bridge.git
[submodule "site-lisp/extensions/emacs-websocket"]
	path = site-lisp/extensions/emacs-websocket
	url = https://github.com/ahyatt/emacs-websocket.git
